config=https_proxy
proxy=http://radhakar%40slc.co.uk:Feb2020$$@localhost:9000/
https-proxy=http://radhakar%40slc.co.uk:Feb2020$$@localhost:9000/
ssl-strict=false
registry=https://registry.npmjs.org/
strict-ssl=false
